.list{
    list-style: none;
}

.passInput{
    background-color: #353535;
    border: 2px #8f8f8f solid;
    border-radius: 5px;
}

@media (prefers-color-scheme: light) {
    .passInput{
        background-color: #e8e8e8;
        border: 2px #686868 solid;
    }
}